 @{
  Layout = "_Layout";
}
@model Registrar.Models.Student
@using Registrar.Models
@using System;
<h1>University Registrar</h1>
<h2>Student Directory</h2>

<p>Student Name: @Html.DisplayFor(model => model.Name)</p>
<p>Student Enrollment Date: @Model.EnrollmentDate?.ToString("MM-dd-yyyy")</p>

@if (@Model.JoinCourseStudents.Count == 0)
{
  <p>This student has not enrolled in any classes.</p>
}
else
{
  <h4>Courses Enrolled</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Number</th>
        <th>Course Completed</th>
      </tr>
    </thead>
    @foreach(CourseStudent courseStudent in Model.JoinCourseStudents)
    {
      <tr>
        <td>@courseStudent.Course.Name</td>
        <td>@courseStudent.Course.CourseNumber</td>
        <td>@courseStudent.Status</td>
        <td>
          @using (Html.BeginForm("CourseStatus", "Courses", routeValues: new { id = courseStudent.CourseStudentId, source = "Students"}))
          {
            @if (courseStudent.Status == false)
            {
              <input type="submit" value="Complete"/>
            }
            else
            {
              <input type="submit" value="Incomplete"/>
            }
          }
        </td>
        <td>
          @using (Html.BeginForm("DeleteCourse", "Students", routeValues: new { id = courseStudent.CourseStudentId}))
          {
            <input type="submit" value="Remove Course">
          }
        </td>

      </tr>
    }

  </table class="table table-striped">
}

<p>@Html.ActionLink("Add Course To Student", "AddCourse", new { id = @Model.StudentId})</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = @Model.StudentId})</p>
<p>@Html.ActionLink("Add New Student", "Create")</p>