@{
  Layout = "_Layout";
}
<h1>University Registrar</h1>
<h2>Edit Student</h2>

@model Registrar.Models.Student

<p>Editing: @Model.Name, enrolled @Model.EnrollmentDate</p>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.EnrollmentDate)
  @Html.TextBoxFor(model => model.EnrollmentDate, new {type="date"})

  @Html.LabelFor(model => model.Department)
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Update" />

}

@* <!-- @using (Html.BeginForm("Delete", "Students", routeValues: new { id = Model.StudentId})) --> *@
@using (Html.BeginForm("Delete", "Students"))
{
  @Html.Hidden("id", @Model.StudentId)
  <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Add Student", "Create")</p>
