@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<h1>Add Machine</h1>

@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})</p>
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger"})</p>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <p>@Html.ValidationMessageFor(model => model.InstallmentDate, "", new { @class="text-danger"})</p>
  @Html.Label("Installment Date")
  @Html.TextBoxFor(model => model.InstallmentDate, new { type="date" })

  <div>
    @Html.LabelFor(model => model.Location)
    @Html.DropDownList("LocationId")
  </div>

  <input type="submit" value="Add" />
}
<p><strong>NOTE:</strong> You need to have at least one location before you can add a machine!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Locations") to create a location.</p>