@{
  Layout = "_Layout";
}
<h1>University Registrar</h1>
<h2>Add Course</h2>

@model Registrar.Models.Course
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})</p>
<p>@Html.ValidationMessageFor(model => model.CourseNumber, "", new { @class = "text-danger"})</p>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.CourseNumber)
  @Html.TextBoxFor(model => model.CourseNumber)

  @Html.LabelFor(model => model.Department)
  @Html.DropDownList("DepartmentId")
  
  <input type="submit" value="Add Course" />
}
<p>@Html.ActionLink("Add Course", "Create")</p>