@{
  Layout = "_Layout";
}
<h1>University Registrar</h1>
<h2>Course Directory</h2>
@model Registrar.Models.Course
@using Registrar.Models

<p>Course Name: @Html.DisplayFor(model => model.Name)</p>
<p>Course Number: @Html.DisplayFor(model => model.CourseNumber)</p>

@if (@Model.JoinCourseStudents.Count == 0)
{
  <p>This course has no students enrolled.</p>
}
else
{
  <h4>Students Enrolled</h4>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

    @foreach (CourseStudent courseStudent in Model.JoinCourseStudents)
    {

      <tr>
        <td>@courseStudent.Student.Name</td>
        <td>@courseStudent.Status</td>
        <td>
            @using (Html.BeginForm("CourseStatus", "Courses", routeValues: new { id = courseStudent.CourseStudentId}))
            {
              @if (courseStudent.Status == false)
              {
                <input type="submit" value="Complete"/>
              }
              else
              {
                <input type="submit" value="Incomplete"/>
              }
            }
        </td>
        <td>
          @using (Html.BeginForm("DeleteCourse", "Courses", routeValues: new { id = courseStudent.CourseStudentId }))
          {
            <input type="submit" value="Remove Student">
          }
        </td>

      </tr>
    }
  </table>
}

<p>@Html.ActionLink("Enroll Student", "AddStudent", new { id = @Model.CourseId })</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = @Model.CourseId})</p>
<p>@Html.ActionLink("Add New Course", "Create")</p>